:root {
  --lightRed: #da5865;
  --red: #AD2634;
  --techBar: #1B1C1D;
}

body {
  font-family: 'Jaldi', sans-serif;
  /* font-family: 'Mitr', sans-serif; */
}

/* general */
.fullHeightWebPage {
  height: 100vh;
}

.redText {
  color: var(--red);
}

.textSection {
  align-items: flex-start;
}

.textSection div {
  margin: 1em;
  margin-top: 8em;
  width: 22em;
}

.textSectionHeading {
  font-size: 2.6em;
  font-weight: bolder;
  line-height: 1.4;
  margin: 0;
}

.textSectionBody {
  color: #888;
  font-size: 1.28em;
  line-height: 1.6;
  margin: 0;
}

/* container */
#container {
  height: 100vh;
  width: 100vw;
}

/* content */
#content {
}

/* home page */
#homePage {
  align-items: flex-start;
  background: rgb(32,33,35);
  background: radial-gradient(circle, rgba(32,33,35,1) 10%, rgba(8,9,10,1) 83%);
  color: #fff;
  position: relative;
}

#computerBox {
  opacity: 0.4;
  position: absolute;
  right: 14em;
  top: 10em;
  z-index: 1;
}

#bname {
  height: 100%;
  margin-left: 14rem;
  z-index: 2;
}

#bname p {
  font-size: 12rem;
  font-weight: bolder;
  line-height: 0.8;
  margin: 0;
}

.homePageWhiteText {
  opacity: 0.8;
}

#navBar {
  align-items: flex-end;
  background: transparent;
  height: 3.6em;
  justify-content: flex-start;
  position: relative;
  top: 0;
  z-index: 4;
}

#navBtns {
  color: #fff;
  font-size: 1em;
  font-weight: 100;
}

#navBtns:first-child {
  margin-left: 14rem;
}

.navBtn {
  border-right: 0.04em solid rgba(255, 255, 255, 0.6);
  justify-content: space-between;
  width: 14em;
}

.pageName {
  letter-spacing: 3px;
  margin: 0 1.4em;
  opacity: 0.6;
}

.pageNumber {
  color: var(--red);
  font-weight: 300;
  margin: 0 1.4em;
}

/* service page */
#servicePage {
}

.pageRedBar {
  background-color: var(--red);
  color: #fff;
}

.pageRedBar p {
  font-size: 16em;
  font-weight: bolder;
  opacity: 0.2;
}


/* maintenance */
#maintenancePage {
  background-color: #000;
  color: #ddd;
}

#maintenancePage .textSection div {
  margin-top: 0;
}

.costMainenance {
  font-size: 4em;
  margin: 0;
}

/* cost page */
#costPage {
  background-image: url('../img/blur.png');
  background-size: 100% 100%;
  flex-wrap: wrap;
  min-height: 50vh;
  padding-top: 8em;
}

.pricingBox {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  height: 20em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  width: 30em;
}

.pricingBox i {
  color: var(--red);
  font-size: 6em;
  margin: 2rem;
  opacity: 0.4;
  position: absolute;
  right: 0;
}

.shortDescription,
.longDescription {
  color: #fff;
  opacity: 1;
  position: absolute;
  top: 0;
}

.longDescription {
  height: 100%;
  opacity: 0;
  overflow: scroll;
}

.longDescription p {
  font-size: 1.5em;
  margin: 0px;
  margin-left: 10rem;
  margin-top: 1em;
}

.startingPrice {
  font-size: 1.6em;
  margin: 0.5em 1em;
  opacity: 0.8;
}

.costLabel {
  font-size: 8em;
  line-height: 0.8;
  margin: 0.4em 0em 0 0.6em;
  opacity: 0.6;
}

.serviceLabel {
  font-size: 2em;
  opacity: 0.8;
  text-align: center;
}

.subCost {
  font-size: 2rem;
}

/* contact page */
#contactPage {
}

#contactPageBottom {
  align-items: center;
}

#contactInformationSection,
#formSection {
  height: 18em;
  margin: 1em;
  width: 30em;
}

#contactInformationSection a {
  text-decoration: none;
}

#formSection {
  /* font-size: 2em;
  opacity: 0.8;
  text-align: center; */
}

#formSection form {
  width: 30em;
}

#formSection form input {
  height: 3rem;
  margin-bottom: 1em;
  width: 10.4em;
}

#formSection form input::placeholder,
#formSection form textarea::placeholder {
  color: #000;
}

#formSection form input:first {
  margin-left: 2em;
}

#formSection form textarea {
  height: 9.2em;
  width: 100%;
}

#formSection input,
#formSection textarea {
  border: 0.1rem solid #ddd;
  font-size: 1.4em;
  padding-left: 0.5em;
}

#userInfo {
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

/* techBar */
#techBarContainer {
  width: 8em;
}

#techBar {
  background-color: var(--techBar);
  position: fixed;
  z-index: 5;
}

.techCostPage {
  width: 8em;
}

.techCostPage i {
  color: var(--red);
  font-size: 2em;
  margin-top: 1em;
  opacity: 0.6;
  transform: scale(0);
}
