#contactPageBottomLiner {
  flex-direction: column-reverse;
}

#contactPageBottom {
  height: 88%;
}

#computerBox {
  display: none;
}

#servicePage,
#servicePage textarea {
  height: auto;
}

#servicePageTextarea {
  flex-direction: column;
  align-items: center;
}

#servicePageTextarea div {
  margin: 3em;
  width: auto;
}

#bname {
  margin-left: 0;
  margin: 0 auto;
}

#maintenancePage .textSection  {
  align-items: center;
  flex-direction: column-reverse;
}
