#selector,
.bottomSection,
.navBtn,
.pricingBox i,
.techCost i,
.techCostPage i,
.arrowContainer,
#sendBtn,
.playBox,
#videoBox,
#videoBoxContainer,
#techHomePage {
  transition: all 0.5s;
}

#screen {
  transition: all 2s;
}

#screen > *,
#loginBox {
  transition: all 1s;
}

.serviceSecctionBox,
.playBox:hover > div {
  transition: all 0.2s;
}

#screenSignIn > * > *,
#screenInsideTopBottom > * > span,
#signInBtn{
  transition: all 0.5s;
}

#screenSignIn > * > *:hover {
  background-color: var(--red);
}

.bottomSection:hover {
  transform: scale(1.2);
}

#signInBtn:hover {
  background-color: #215e5e;
}

.navBtn:hover {
  color: var(--lightRed);
}

.pricingBox:hover i {
  right: 65%;
}

.shortDescription  {
  transition: all 0.2s;
  transition-delay: 0.3s;
}

.pricingBox:hover .shortDescription {
  opacity: 0;
  transition: all 0s;
  transition-delay: 0s;
}

.longDescription {
  transition: all 0s;
  transition-delay: 0s;
}

.pricingBox:hover .longDescription {
  opacity: 1;
  transition: all 0.2s;
  transition-delay: 0.3s;
}

.hoverIcon {
  right: 65% !important;
}

.hoverShortDescription {
  opacity: 0;
  transition: all 0s;
  transition-delay: 0s;
}

.hoverLongDescription {
  opacity: 1;
  transition: all 0.2s;
  transition-delay: 0.3s;
}

.opacity1 {
  opacity: 1 !important;
}

.arrowContainer:hover {
  opacity: 1;
  font-weight: bold;
}

.serviceSecctionBox:hover {
  position: relative;
  top: -1em;
}

.serviceSecctionBox:hover > .textSectionHeading {
  color: var(--lighterRed);
}

#sendBtn:hover {
  letter-spacing: 20px;
}

#sendBtn:active {
  background-color: var(--lighterRed);
  color: #fff;
}

.playBox:hover {
  opacity: 1;
}

.playBox:hover > div {
  left: 0%;
}
