#bname p, .pageRedBar p {
    font-size: 8rem;
}

.costMainenance {
    width: auto;
}

.costMainenance p {
    font-size: 4em;
}

#formSection {
  display: none;
}

#costPage {
  background-image: url('../img/blurSmall.png');
}
