<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="lets build your website">
    <meta name="keywords" content="Lets Build Your Website,letsbuildyourwebsite,letsbuildyourwebsite.com,Website Builder,Website Maker,Isaiah Harrison">
    <meta name="author" content="Isaiah Harrison">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
    <link rel="stylesheet" href="./css/animation2.css">
    <link rel="stylesheet" href="./css/library.css">
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="./css/animation.css">
    <link rel="stylesheet" href="./css/animationBox.css">

    <!-- media query -->
    <link rel="stylesheet" type="text/css" media="only screen and (max-width:1450px)" href="css/style_1450.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width:1150px)" href="css/style_1150.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width:1000px)" href="css/style_1000.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width:900px)" href="css/style_900.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width:980px)" href="css/style_768.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width:767px)" href="css/style_600.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Jaldi:400,700" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  </head>
  <body ng-app='app' ng-controller='ctrl' ng-cloak>

    <div id="container" class="flexRow">

      <div id="content" ng-click='hideSampleWork()' class="fullSize">

        <!-- home page -->
        <div id="homePageLocation" class=""></div>
        <div id="homePage" class="fullHeightWebPage fullWidth flexCol">
          <div id="computerBox" class="fullHeight w50" data-scroll-speed="2">

            <div id="screenContainer" class="">
              <div id="screen" class="fullHeight fullWidth phoneScreen">
                <div id="bottomScreen" class="fullHeight fullWidth flexCol">
                  <div id="urlBar" class="flexRow h10 w90">
                    <div id="urlCircle"></div>
                    <p id="urlText" class="hideElement">yourwebsite.com</p>
                  </div>
                  <div id="screenInside" class="h80 w90 hideElement">
                    <div id="screenInsideTop" class="h50 fullWidth">
                      <div id="screenInsideTopTop" class="h25 fullWidth flexRow">
                        <div id="screenMenu" class="">
                          <i class="fas fa-bars"></i>
                        </div>
                        <div id="screenSignIn" class="flexRow">
                          <div class="">
                            <p>sign up</p>
                          </div>
                          <div class="">
                            <p>sign in</p>
                          </div>
                        </div>
                      </div>
                      <div id="screenInsideTopBottom" class="h75 fullWidth flexRow">
                        <p><span data='0'>I</span><span data='1'>N</span><span data='2'>N</span><span data='3'>O</span><span data='4'>V</span><span data='5'>A</span><span data='6'>T</span><span data='7'>E</span></p>
                      </div>
                    </div>
                    <div id="screenInsideBottom" class="h50 fullWidth flexRow">
                      <div class="bottomSection h75 w25 flexRow"><i class="fas fa-hands-helping"></i></div>
                      <div class="bottomSection h75 w25 flexRow"><i class="fas fa-money-bill-wave"></i></div>
                      <div class="bottomSection h75 w25 flexRow"><i class="fas fa-chart-line"></i></div>
                    </div>
                  </div>
                </div>
                <div id="middleScreen" class="fullHeight fullWidth firstLift flexCol">
                  <div id="urlBar" class="flexRow h10 w90 hideElementBC">
                    <div id="urlCircle" class="hideElement"></div>
                    <p id="urlText" class="">yourwebsite.com</p>
                  </div>
                  <div id="screenInside" class="h80 w90">
                    <div id="screenInsideTop" class="h50 fullWidth">
                      <div id="screenInsideTopTop" class="h25 fullWidth flexRow">
                        <div id="screenMenu" class="hideElement">
                          <i class="fas fa-bars"></i>
                        </div>
                        <div id="screenSignIn" class="flexRow hideElement">
                          <div class="">
                            <p>sign up</p>
                          </div>
                          <div class="">
                            <p>sign in</p>
                          </div>
                        </div>
                      </div>
                      <div id="screenInsideTopBottom" class="h75 fullWidth flexRow hideElement">
                        <p><span data='0'>I</span><span data='1'>N</span><span data='2'>N</span><span data='3'>O</span><span data='4'>V</span><span data='5'>A</span><span data='6'>T</span><span data='7'>E</span></p>
                      </div>
                    </div>
                    <div id="screenInsideBottom" class="h50 fullWidth flexRow">
                      <div class="bottomSection h75 w25 flexRow hideElement"><i class="fas fa-hands-helping"></i></div>
                      <div class="bottomSection h75 w25 flexRow hideElement"><i class="fas fa-money-bill-wave"></i></div>
                      <div class="bottomSection h75 w25 flexRow hideElement"><i class="fas fa-chart-line"></i></div>
                    </div>
                  </div>
                </div>
                <div id="frontScreen" class="fullHeight fullWidth firstLift secondLift flexCol">
                  <div id="urlBar" class="flexRow h10 w90 hideElement">
                    <div id="urlCircle"></div>
                    <p id="urlText">yourwebsite.com</p>
                  </div>
                  <div id="screenInside" class="h80 w90 hideElementBC">
                    <div id="screenInsideTop" class="h50 fullWidth">
                      <div id="screenInsideTopTop" class="h25 fullWidth flexRow">
                        <div id="screenMenu" class="">
                          <i class="fas fa-bars"></i>
                        </div>
                        <div id="screenSignIn" class="flexRow">
                          <div class="pointer" ng-click='auth("signUp")'>
                            <p>sign up</p>
                          </div>
                          <div class="pointer" ng-click='auth("signIn")'>
                            <p>sign in</p>
                          </div>
                        </div>
                      </div>
                      <div id="screenInsideTopBottom" class="h75 fullWidth flexRow">
                        <p><span data='0'>I</span><span data='1'>N</span><span data='2'>N</span><span data='3'>O</span><span data='4'>V</span><span data='5'>A</span><span data='6'>T</span><span data='7'>E</span></p>
                      </div>
                    </div>
                    <div id="screenInsideBottom" class="h50 fullWidth flexRow hideElementBC">
                      <div class="bottomSection h75 w25 flexRow"  ng-click='showSampleWork(true)'><i class="fas fa-hands-helping"></i></div>
                      <div class="bottomSection h75 w25 flexRow"  ng-click='showSampleWork(true)'><i class="fas fa-money-bill-wave"></i></div>
                      <div class="bottomSection h75 w25 flexRow"  ng-click='showSampleWork(true)'><i class="fas fa-chart-line"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div id="bname" class="flexRow">
            <div class="">
              <p class="homePageWhiteText">LET'S</p>
              <p class="redText">BUILD</p>
              <p class="homePageWhiteText">YOUR</p>
              <p class="homePageWhiteText">WEBSITE</p>
            </div>
          </div>
          <div id="navBar" class="fullWidth flexRow">
            <div id="navBtns" class="flexRow fullHeight pointer" ng-repeat='navigationOption in navigation track by $index'>
              <div data={{$index}} class="navBtn flexRow fullHeight" ng-click='goTo(navigationOption.pageLocation)'>
                <p class="pageName">{{navigationOption.navBarName}}</p>
                <p data={{$index}} class="pageNumber">{{navigationNumberLable($index)}}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- service page -->
        <div id="servicePageLocation" class=""></div>
        <div id="servicePage" class="fullHeightWebPage fullWidth">
          <div class="fullWidth h50 pageRedBar flexRow">
            <p>SERVICES</p>
          </div>
          <div id="servicePageTextarea" class="fullWidth h50 flexRow textSection">
            <div class="serviceSecctionBox" ng-repeat='service in data["page"]["servicePage"] track by $index'>
              <p class="textSectionHeading">{{service['heading']}}</p>
              <p class="textSectionBody">{{service['body']}}</p>
            </div>
          </div>
        </div>

        <!-- cost page -->
        <div id="costPageLocation" class=""></div>
        <div id="costPage" class="fullWidth flexRow">
          <div id="costHeading" class="fullWidth">
            <p>Starting Prices</p>
          </div>
          <div data={{$index}} class="pricingBox" ng-repeat='iconObj in data.page.costPage["0"].icons track by $index'>
            <i class={{iconClass(iconObj)}}></i>
            <div class="shortDescription fullSize">
              <p class="costLabel">{{iconObj.cost}}<span class="subCost">{{iconObj.sub}}</span></p>
              <p class="serviceLabel">{{iconObj.service}}</p>
            </div>
            <div class="longDescription">
              <p>{{iconObj.description}}</p>
            </div>
          </div>
        </div>

        <!-- contact page -->
        <div id="contactPageLocation" class=""></div>
        <div id="contactPage" class="fullHeightWebPage fullWidth">
          <div class="fullWidth h50 pageRedBar flexRow">
            <p>CONTACT</p>
          </div>
          <div id="contactPageBottom" class="fullWidth h50 flexRow">
            <div id="contactPageBottomLiner" class="flexRow">
              <div id="contactInformationSection" class="">
                <p class="">Lets Build Your Website | Philadelphia, PA</p>
                <a href="tel:8147530157"><p class="redTextSmall"><span class="contactPageDirectText">P: </span>814-753-0157</p></a>
                <a href=""><p class="redTextSmall"><span class="contactPageDirectText">E: </span>letsbuildyourwebsite@outlook.com</p></a>
                <a href=""><p class="redTextSmall"><span class="contactPageDirectText">W: </span>letsbuildyourwebsite.com</p></a>
                <p id="websiteSection" class="">lets<span class="redTextSmall">build</span>your<span class="redTextSmall">website</span></p>
                <p id="slogan" class="">Any website at any budget</p>
                <p class="">Copyright &#xa9; 2018 letsbuildyourwebsite</p>
              </div>
              <div id="formSection" class="fullHeight">
                <form class="" action="index.html" method="post">
                  <div id="userInfo" class="flexRow">
                    <input id="name" type="text" name="name" value="" placeholder="Name">
                    <input id="contact" type="text" name="email" value="" placeholder="Email">
                  </div>
                  <textarea id="message" name="feedback" rows="8" cols="80" placeholder="Message"></textarea>
                </form>
                <div id="sendBtn" class="flexRow pointer" ng-click='sendText()'>
                  <p>SEND</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div id="techBarContainer" class="fullHeight">
        <div id="techBar" class="fullHeight flexCol">

          <div class="arrowContainer fullWidth flexRow pointer" ng-click='goUp()'>
            <p class="arrowTop">&#x2934;</p>
          </div>

          <div class="arrowContainer fullWidth flexRow pointer" ng-click='goDown()'>
            <p class="arrowBottom">&#x2935;</p>
          </div>

          <div class="techHomePage fullWidth" ng-if='currentPage === "homePageLocation"'>
            <div class="flexCol fullWidth none">

              <div id="homeText" class="flexCol pointer" ng-click='showSampleWork()'>
                <p>S</p>
                <p>A</p>
                <p>M</p>
                <p>P</p>
                <p>L</p>
                <p>E</p>
                <div id="homeTextPlayBtn" class="playBtn">
                  <i class="fab fa-youtube"></i>
                </div>
                <p>W</p>
                <p>O</p>
                <p>R</p>
                <p>K</p>
              </div>

            </div>
          </div>

          <div class="techHomePage" ng-if='currentPage === "servicePageLocation"'>
            <div id="serviceText" class="flexCol none">
              <div class=""><p>S</p></div>
              <div class=""><p>E</p></div>
              <div class=""><p>R</p></div>
              <div class=""><p>V</p></div>
              <div class=""><p>I</p></div>
              <div class=""><p>C</p></div>
              <div class=""><p>E</p></div>
              <div class=""><p>S</p></div>
            </div>
          </div>

          <div class="techCostPage" ng-if='currentPage === "costPageLocation"'>
            <div class="flexCol">
              <div data={{$index}} ng-mouseover='hoverTechPageCostIcon($index)' ng-mouseout='hoverTechPageCostIconReset()' class="techCost" ng-repeat='iconObj in data.page.costPage["0"].icons track by $index'>
                <i data={{$index}} class={{iconClass(iconObj)}}></i>
              </div>
            </div>
          </div>

          <div class="techHomePage" ng-if='currentPage === "contactPageLocation"'>
            <div id="costText" class="flexCol none">
              <div class=""><p>C</p></div>
              <div class=""><p>O</p></div>
              <div class=""><p>N</p></div>
              <div class=""><p>T</p></div>
              <div class=""><p>A</p></div>
              <div class=""><p>C</p></div>
              <div class=""><p>T</p></div>
            </div>
          </div>
        </div>
      </div>

      <div id="sampleWork" class="" ng-if='currentPage === "homePageLocation"'>
        <div id="videoSection" class="flexRow h75 fullWidth">
          <div id="videoPlayerListSection" class="h80 w35">
            <div data={{$index}} style={{sampleImg.img}} class="flexRow videoSelection" ng-repeat='sampleImg in homeTechBarData track by $index' ng-click='clickSampleBox($index)'>
              <div class="playBtn">
                <i class="fab fa-youtube"></i>
              </div>
              <div class="videoDescriptionBar flexRow h20 fullWidth">
                <p>{{sampleImg.name}}</p>
              </div>
              <iframe id="homeVideoBox" class="none" src='' frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div id="homeTextPlayBtnSmallScreen" class="playBtn smallScreenPlayBtn" ng-click='showSampleWork()'>
        <i class="fab fa-youtube"></i>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
